In [12]:
import seaborn as sns

In [13]:
df = sns.load_dataset('tips')

In [14]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
#from sklearn import StandardScaler
from sklearn.preprocessing import StandardScaler

In [16]:
#instance
scaler = StandardScaler()

In [17]:
scaler

StandardScaler()

In [18]:
#Fitting scaler to 'total_bill' and 'tip' features.
scaler.fit(df[['total_bill','tip']])

StandardScaler()

In [19]:
#Transforming 'total_bill' and 'tip' features using the fitted scaler.
import pandas as pd 
df2 = pd.DataFrame(scaler.transform(df[['total_bill','tip']]),columns = ['total_bill','tips'])

In [11]:
df2.head()

   total_bill      tips
0   -0.314711 -1.439947
1   -1.063235 -0.969205
2    0.137780  0.363356
3    0.438315  0.225754
4    0.540745  0.443020