## Normalization Min Max Scaler

In [11]:
import seaborn as sns

In [12]:
df = sns.load_dataset('taxis')

In [13]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [14]:
#from sklearn import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

In [15]:
#instance
min_max = MinMaxScaler()

In [16]:
#Fitting Min-Max scaler to 'distance', 'fare', and 'tip' features.
min_max.fit(df[['distance','fare','tip']])

MinMaxScaler()

In [17]:
#Transforming 'distance', 'fare', and 'tip' features using fitted Min-Max scaler.
import pandas as pd
df2 = pd.DataFrame(min_max.transform(df[['distance','fare','tip']]),columns = ['distance','fare','tip'])

In [19]:
df2.head()

   distance      fare       tip
0  0.043597  0.040268  0.064759
1  0.021526  0.026846  0.000000
2  0.037330  0.043624  0.071084
3  0.209809  0.174497  0.185241
4  0.058856  0.053691  0.033133