In [14]:
import seaborn as sns
import pandas as pd

In [15]:
df = sns.load_dataset('iris')

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
#from sklearn import normalize
from sklearn.preprocessing import normalize

In [12]:
#Normalizing 'sepal_length', 'sepal_width', 'petal_length', 'petal_width' features in DataFrame 
df4 = pd.DataFrame(normalize(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]),
                 columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [13]:
df4.head()

   sepal_length  sepal_width  petal_length  petal_width
0      0.803773     0.551609      0.220644     0.031521
1      0.828133     0.507020      0.236609     0.033801
2      0.805333     0.548312      0.222752     0.034269
3      0.800030     0.539151      0.260879     0.034784
4      0.790965     0.569495      0.221470     0.031639